<% layout('layout') %>
<div class="welcomeBlock">
  <p>Welcome.</p>
  <p>Please insert your nickname to begin:</p>
  <form action="?" class="nicknameForm">
    <input type="text" class="nickname" placeholder="John" autofocus>
  </form>
</div>
