<% layout('layout') %>
<div class="welcomeBlock">
  <p>Welcome.</p>
  <p>Please insert your nickname to begin:</p>
  <form action="?" class="nicknameForm">
    <input type="text" class="nicknameInput" placeholder="Your nickname" autofocus>
  </form>
</div>
<div class="chatBlock hidden">
  <ul class="messageList">

  </ul>
  <form action="?" class="messageForm">
    <input type="text" class="messageInput" placeholder="Your message">
    <div class="indicator"></div>
  </form>
</div>
