transition()
    -webkit-transition arguments
    -moz-transition arguments
    transition arguments

animation()
    -webkit-animation arguments
    -moz-animation arguments
    animation arguments

animation-delay()
    -webkit-animation-delay arguments
    -moz-animation-delay arguments
    animation-delay arguments

animation-fill-mode()
    -webkit-animation-fill-mode arguments
    -moz-animation-fill-mode arguments
    animation-fill-mode arguments
